---
---

@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans|Merriweather:400,400i,700|Source+Code+Pro");

@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");


* {
    font-family: "Noto Sans Bengali UI", "Merriweather", "Open Sans", serif;
    box-sizing: border-box;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.logo {
    position: fixed;
    z-index: 9999;
    height: 100px;
    border-radius: 50%;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    display: flex;
    flex-direction:row;
    height: 100vh;
    width: 100vw;

    @media (orientation: portrait) {
        flex-direction: column-reverse;
    }

    .section {
        flex: 1;
        height: 100vh;
        position: relative;
        padding: 30px;

        @media (orientation: portrait) {
            width: 100vw;
            height: 50vh;
        }
    }

    .left {
        background-color: #fafafa;
        color: gray;
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        overflow: hidden;

        .about {
            overflow: auto;
        }

        h1 {
            font-size: 10vw;
            line-height: 1rem;
            
            @media (max-width: 768px) {
                font-size: 20vw;
            }
        }

        @media (min-width: 2460px) {
                font-size: 40px;
            }

        @media (orientation: portrait) {
            justify-content: flex-start;
        }
    }

    .right {
        background-color: #ffffff;

        &:hover {
            background-color: #f0f0f0;
        }
    }

    .blog-content {
        height: 100%;
        overflow: hidden;
        text-align: right;
        font-size: 40px;
        font-weight: lighter;
        color: rgba(128, 128, 128, 0.6);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1 {
            font-size: 1.4em;
        }

        @media (max-width: 768px) {
            font-size: 24px;
        }
    }
}

