---
title: home
layout: compress
---
<html>
  {% include head.html %}
  <body>

    <div class="container">
      <div class="section left">
        <h1>{{site.title}}</h1>
        <div class="about">
        <p>আমি উৎসব রায়। কবিতা লিখতে ভালোবাসি। পেশায় একজন কোডার(সফটওয়্যার ডেভেলপারও বলা হয় কোডারদের)। আমার নিজস্ব জীবনদর্শন আছে। যা কিছু দেখি, শুনি, শিখি তা হয় আমার দর্শনে নতুন মাত্রা দেয় বা তার পরিমার্জন করে। অথবা, আমি তা বাদ দিই। আমি ঈশ্বরের অস্তিত্ত্বে বিশ্বাস করি না বরং আমাদের সৃষ্টিতত্ত্ব সম্পর্কে আমার বিজ্ঞানে ভরসা বেশি।</p>

        <h4>যোগাযোগ</h4>

        <p>অন্তর্জালের দুনিয়ায় আমার ইউজারনেম uroybd. Facebook, Twitter, Google, Goodreads এবং আরো গুটিকয়েক জায়গায় আমায় এই ইউজারনেমে পাওয়া যাবে। আমায় মেইল করতে পারেন uroybd@gmail.com-এ।</p>
        </div>
      </div>
      <a class="section right" href="{{ site.url }}/blog/">
        <div class="inner blog-content">
          <h1>বিবিধ অপলাপ থেকে...</h1>
          {% if site.tags contains "sticky" %}
          {% assign sticky = site.tags["sticky"] | first %}
          {{ sticky.content | markdownify }}
          {% else %}
          {% assign sticky = site.posts.first %}
          {{ sticky.content | markdownify }}
          {% endif %}
        </div>
      </a>
    </div>
  </body>
</html>
