@use "sass:math";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color-0: #e8e3df;
    --bg-color-1: #2c2c32;
    --bg-color-2: #d6d6d6;
    --bg-color-3: #000000;

    --fg-color-0: #000000;
    --fg-color-1: #d1d1d1;
    --fg-color-2: #000000;
    --fg-color-3: #ffffff;

    --cursor-0: url("/assets/images/cursors/circle-black.svg");
    --cursor-1: url("/assets/images/cursors/circle-gray.svg");
    --cursor-2: url("/assets/images/cursors/circle-black.svg");
    --cursor-3: url("/assets/images/cursors/circle-white.svg");

    --cursor-pointer-0: url("/assets/images/cursors/pointer-black.svg");
    --cursor-pointer-1: url("/assets/images/cursors/pointer-gray.svg");
    --cursor-pointer-2: url("/assets/images/cursors/pointer-black.svg");
    --cursor-pointer-3: url("/assets/images/cursors/pointer-white.svg");

    --font-family-sans-serif: Lato, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
        "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

@function strip-unit($value) {
    @return math.div($value, ($value * 0 + 1));
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
        & {
            font-size: $min-font-size;
            @media screen and (min-width: $min-vw) {
                font-size: calc(
                    #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
                        ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
                );
            }
            @media screen and (min-width: $max-vw) {
                font-size: $max-font-size;
            }
        }
    }
}

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;

html {
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
    font-weight: 300;
    letter-spacing: 1.2px;
}

body {
    --bg-color: var(--bg-color-0);
    --fg-color: var(--fg-color-0);
    position: relative;
    padding-left: 52.5vw;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-family: var(--font-family-sans-serif);

    a {
        cursor: pointer;
        text-decoration-style: double;
    }

    transition: background-color 0.5s ease, color 0.3s ease, border-color 0.5s ease;

    @media (max-width: 765px) {
        flex-direction: column;
        text-align: center;
        width: 100vw;
        padding: 0;
    }

    aside.sidebar {
        width: 50vw;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        padding: 2.5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width: 765px) {
            width: 100vw;
            height: 30vh;
            text-align: center;
            background-color: var(--bg-color);
            transition: background-color 0.5s ease, color 0.3s ease, border-color 0.5s ease;
        }

        .sidebar-content {
            height: 90%;
            width: 100%;
            padding-left: 2.5vw;
            padding-right: 2.5vw;
            // border-right: 1px solid var(--fg-color);
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (max-width: 765px) {
                // border-bottom: 1px solid var(--fg-color);
                // border-right: none;
                // margin-top: none;
                // margin-left: 2.5vw;
                // margin-right: 2.5vw;
                margin: 0;
                width: calc(100% - 5vw);
                align-items: center;
            }

            .title {
                font-weight: 300;
                @include fluid-type($min_width, $max_width, 30px, 100px);
            }

            .connections {
                margin-top: 20px;
                a {
                    text-decoration: none;
                    color: inherit;
                }

                display: flex;
                flex-direction: row;
                gap: 10px;

                @media (max-width: 765px) {
                    justify-content: center;
                }
            }
        }
    }

    main {
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;

        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;

        section {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            justify-content: center;
            padding: 2.5vw;
            scroll-snap-align: center;
            width: 100%;

            @media (max-width: 765px) {
                padding-top: 30vh;
            }

            .section-title {
                @include fluid-type($min_width, $max_width, 20px, 60px);
                font-weight: 300;
            }

            .section-content {
                padding-top: 2.5vw;
                padding-right: 2.5vw;

                @media (max-width: 765px) {
                    padding: 5vw;
                }

                p {
                    padding-bottom: 1rem;
                }

                a {
                    color: inherit;
                    font-weight: 300;
                }
            }
        }
    }

    nav {
        position: fixed;
        right: 24px;
        top: 50%;
        display: flex;
        flex-direction: column;
        z-index: 99;
        gap: 10px;
        transform: translateY(-50%);

        @media (max-width: 765px) {
            top: unset;
            right: unset;
            bottom: 24px;
            left: 50%;
            transform: translateX(-50%);
            flex-direction: row;
        }

        a {
            text-decoration: underline;
            color: inherit;
            font-weight: 300;
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }

            &.active {
                opacity: 1;
            }
        }
    }
}
