* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color-0: #e8e3df;
  --bg-color-1: #2c2c32;
  --bg-color-2: #0d1e37;
  --bg-color-3: #000000;
  --fg-color-0: #000000;
  --fg-color-1: #d1d1d1;
  --fg-color-2: #d1d1d1;
  --fg-color-3: #ffffff;
  --font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
      "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(
                    16px + 8 *
                        ((100vw - 320px) / 880)
                );
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 24px;
  }
}

body {
  --bg-color: var(--bg-color-0);
  --fg-color: var(--fg-color-0);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2.5vw;
  padding-left: 52.5vw;
  width: 95vw;
  min-height: 100vh;
  overflow-y: scroll;
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: var(--font-family-sans-serif);
  transition: background-color 0.5s ease, color 0.3s ease, border-color 0.5s ease;
}
@media (max-width: 765px) {
  body {
    flex-direction: column;
    scroll-behavior: smooth;
    text-align: center;
    padding-left: unset;
    padding-top: 0;
    padding-right: 0;
    width: 100vw;
  }
}
body aside.sidebar {
  width: 50vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}
@media (max-width: 765px) {
  body aside.sidebar {
    width: 100vw;
    height: 30vh;
    text-align: center;
    background-color: var(--bg-color);
    transition: background-color 0.5s ease, color 0.3s ease, border-color 0.5s ease;
  }
}
body aside.sidebar .sidebar-content {
  height: 90%;
  margin-top: 5%;
  width: 100%;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  border-right: 1px solid var(--fg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 765px) {
  body aside.sidebar .sidebar-content {
    border-right: none;
    margin-top: none;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    width: calc(100% - 5vw);
    align-items: center;
  }
}
body aside.sidebar .sidebar-content .title {
  font-size: 30px;
}
@media screen and (min-width: 320px) {
  body aside.sidebar .sidebar-content .title {
    font-size: calc(
                    30px + 70 *
                        ((100vw - 320px) / 880)
                );
  }
}
@media screen and (min-width: 1200px) {
  body aside.sidebar .sidebar-content .title {
    font-size: 100px;
  }
}
body aside.sidebar .sidebar-content .connections {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
body aside.sidebar .sidebar-content .connections a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
@media (max-width: 765px) {
  body aside.sidebar .sidebar-content .connections {
    justify-content: center;
  }
}
body section {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 5vw);
  justify-content: center;
  margin-bottom: 2.5vw;
  scroll-snap-align: center;
}
@media (max-width: 765px) {
  body section {
    min-height: calc(70vh - 5vw);
    height: 100vh;
    padding-top: 30vh;
  }
}
body section .section-title {
  font-size: 20px;
}
@media screen and (min-width: 320px) {
  body section .section-title {
    font-size: calc(
                    20px + 40 *
                        ((100vw - 320px) / 880)
                );
  }
}
@media screen and (min-width: 1200px) {
  body section .section-title {
    font-size: 60px;
  }
}
body section .section-content {
  padding-top: 2.5vw;
  padding-right: 2.5vw;
}
@media (max-width: 765px) {
  body section .section-content {
    padding: 5vw;
  }
}
body section .section-content p {
  padding-bottom: 1rem;
}
body section .section-content a {
  text-decoration: underline;
  color: inherit;
  font-weight: bold;
  cursor: pointer;
}
body nav {
  position: fixed;
  right: 24px;
  top: 50%;
  display: flex;
  flex-direction: column;
  z-index: 99;
  gap: 10px;
  transform: translateY(-50%);
}
@media (max-width: 765px) {
  body nav {
    top: unset;
    right: unset;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
  }
}
body nav a {
  text-decoration: underline;
  color: inherit;
  font-weight: bold;
  cursor: pointer;
}
body nav a:hover {
  opacity: 0.5;
}
body nav a.active {
  opacity: 0.5;
}

/*# sourceMappingURL=main.css.map */
